.modal {
  position: relative;
  width: 100%;
  height: 100vh;

  background-color: rgba(22, 39, 62, 0.7);

  &__box {
    position: absolute;
    top: 108px;
    left: 140px;
    width: 822px;
    height: 573px;
    border-radius: 40px;

    padding-left: 210px;

    background-color: #ffff;
    z-index: 1;
  }

  &__cross {
    position: absolute;
    right: 0px;
    padding: 33px 37px;
  }

  // .modal__title1

  &__title1 {
    font-size: 27px;
    margin-top: 60px;
  }

  // .modal__title2

  &__title2 {
    font-size: 80px;
    margin-top: 28px;
  }

  // .modal__point

  &__point {
    font-size: 25px;
    font-weight: 700;
    color: #8cc9e8;
    margin-top: 25px;
    transition: 0.3s ease;
  }

  // .modal__text

  &__text {
    font-size: 25px;
    color: #2e2e2e;
  }

  // .modal__pagination

  &__pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 20px;

    width: 90px;
  }

  &__btn {
    padding-top: 5px;
  }

  &__circle {
    width: 10px;
    height: 10px;
    border: 1px black solid;
    border-radius: 100%;
  }

  &__circle--active {
    background-color: #fc6da9;
    transition: background-color 0.3s ease; /* Добавлено transition */
  }
}
